.main{
	padding-top: 70px;
	padding-left: 200px;
	padding-right: 200px;
}

.leftSide{
	
	float: left;
	width: 30%;
	height: 600px;
	background-color: #fff9e9;
	
}
.rightSide{
	float: right;
	width: 70%;
	height: 600px;

}
.userInfo{
	padding-top:60px;
	background-color: #A6A6A6;
	background: url(image/userInfo.jpg);
	height: 240px
	
}
.userInfo a{
	color: #000000;
}
.userInfo a:hover{
	background-color: #b1b1b1;
	font-size: 18px;
	border-radius: 5px 5px 5px 5px;
}
.img{
	text-align: center;
}
.userInfo img{
	height: 120px;
	width: 100px;
	padding-bottom: 20px;
}
.spaceNickname{
	text-align: center;
}

.funcList{
	padding-top: 20px;
	text-align: center;
}
.funcList a{
	font-size: 20px;
}

.rightSide_head{
	height: 30px;
	width: 100%;
	background-color: #fdffe1;
	font-size: 20px;
}
.rightSide_head a:hover{
	background-color: #b1b1b1;
	font-size: 23px;
	border-radius: 5px 5px 5px 5px;
}
/* 设置搜索 */
.search{
	width: 300px;
	height: 52px;
	float: right;
	padding-left: 108px;
	margin: 1px;
}
.search input{
	border: 0;
	outline: none;
	float: left;
}
.search .content{
	width: 150px;
	height: 27px;
	border-radius: 5px 0 0 5px;
	background-color: #dadada;
	color: #000000;
	
}
.search .submit{
	width: 40px;
	height: 27px;
	border-radius: 0 5px 5px 0;
	background-color: #ff0000;
	font-size: 15px;
}
.rightSide_main{
	position: relative;
}
.rightSide_learn{
	position: absolute;
	background-color: #ffffff;
	height: 570px;
	width: 780px
	
}
.rightSide_teach{
	position: absolute;
	background-color: #d5d5d5;
	height: 570px;
	width: 780px
}
.rightSide_teach h1{
	color: #D51A24;
}

